{% extends "dashboard/base.html" %}
{% load l10n %}

{% block headcontent %}
    <!-- 
        https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.0-beta.2.rc.2/leaflet.js
        https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.0-beta.2.rc.2/leaflet.css
        https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/leaflet.draw.js
        https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/leaflet.draw.css
    -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.0-beta.2.rc.2/leaflet.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.0-beta.2.rc.2/leaflet.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/leaflet.draw.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/leaflet.draw.css">
{% endblock %}	


{% block content %}
<!-- show the details of the publishers (name and broadcasts) -->
<h2>מפרסם: {{publisher.name}}</h2>
<form action="/dashboard/publishers/{{publisher.id}}/edit/" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h2>פרטי המפרסם</h2>
    <div class="map-container">
    <label for="hidden-maps-inputs">אזור עבודה</label>
    <div id="map"></div>
    <input type="hidden" id="hidden-maps-inputs" name="geojson" value="{{publisher.geojson}}">
</div>
    <label for="name">שם המפרסם</label>
    <input type="text" name="name" id="name" value="{{publisher.name}}">
    <br>
    <label for="about">אודות</label>
    <textarea name="about" id="about" cols="30" rows="10">{{publisher.about}}</textarea>
    <br>
    

    <label for="publishersType">
        סוגי מפרסם
    </label>
    <select name="publishersType" id="publishersTypeSelect" multiple>
        {% for publisher_type in publishers_types %}
            <option value="{{publisher_type.id}}" {% if publisher_type in publisher.publishers_types.all %}selected{% endif %}>{{publisher_type.name}}</option>
        {% endfor %}
    </select>
    <a href="/admin/core/publishertype/add/" target="popup"
        onclick="window.open('/admin/core/publishertype/add/?_to_field=id&','popup','width=600,height=600'); return false;">הוסף סוג מפרסם</a>


        <div>
            <label for="logo">לוגו העסק
            </label>
            {% if publisher.logo %}
                <img src="{{publisher.logo.url}}" alt="logo" width="100px" height="100px">
            {% endif %}
            <input class="input-field" type="file" name="logo" id="logo" accept="image/*">
            
        </div>
        

<!--
    כתובת 
    טלפון
    אימייל
    שם איש קשר
    טלפון איש קשר

    שעות עבודה
    קהל יעד (רשימת הערות)
-->

    <label for="address">כתובת</label>
    <input type="text" name="address" id="address" value="{{publisher.address}}">
<br>
    <label for="phone">טלפון</label>
    <input type="text" name="phone" id="phone" value="{{publisher.phone}}">
<br>
    <label for="email">אימייל</label>
    <input type="email" name="email" id="email" value="{{publisher.email}}">
<br>
    <label for="contact_name">שם איש קשר</label>
    <input type="text" name="contact_name" id="contact_name" value="{{publisher.contact_name}}">
<br>
    <label for="contact_phone">טלפון איש קשר</label>
    <input type="text" name="contact_phone" id="contact_phone" value="{{publisher.contact_phone}}">
<br>
    <label for="qr_link">קישור ברירת מחדל לQR של המפרסם</label>
    <input type="text" name="qr_link" id="qr_link" value="{{publisher.qr_link}}">

    <br>
    <label for="משרד פרסום">משרד פרסום</label>
    <select name="adv_agency" id="adv_agency" autocomplete="on">
        <option value="" {% if not publisher.adv_agency %}selected{% endif %}>בחר משרד פרסום</option>
        {% for adv_agency in adv_agencies %}
            <option value="{{adv_agency.id}}" {% if adv_agency == publisher.adv_agency %}selected{% endif %}>{{adv_agency.name}}</option>
        {% endfor %}
    </select>
<br>

    <input type="submit" value="שמור">
</form>
{% include "dashboard/components/new_broadcast.html" %}
<h3>שידורים קיימים</h3>
<table>
    <thead>
        <tr>
            <th>id</th>
            <th>מדיה</th>
            <th>שם השידור</th>
            <th>נוצר ב</th>
            <th>סוג השידור</th>
            <th>פעולות</th>
            <th>טלוויזיות</th>
            <th>קישור QR</th>
        </tr>
    </thead>
    <tbody>
        {% for broadcast in publisher.broadcasts.all %}
        <tr>
            <td>{{broadcast.id}}</td>
            <td>
                {% if broadcast.media_type == 'image' %}
                <div class="imageWrapper">
                    <img src="{{broadcast.media.url}}" alt="{{broadcast.name}}">
                </div>
                {% elif broadcast.media_type == 'video' %}
                <div class="videoWrapper">
                    <!-- <video muted autoplay loop>
                        <source src="{{broadcast.media.url}}" type="video/mp4">
                    </video> -->
                    <video muted onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;" loop>
                        <source src="{{broadcast.media.url}}" type="video/mp4">
                    </video>
                </div>
                {% endif %}
            </td>
            <td title="{{broadcast.media.url}}">{{broadcast.name|truncatechars:20}}</td>
            <td>
                <script type="text/javascript">
                    var date = `{{broadcast.created|date:"c"}}`
                    date = new Date(date);
                    document.write(date.toLocaleString('he-IL', {
                        timeZone: 'Asia/Jerusalem'
                    }));
                </script>
            </td>
            <td>{{broadcast.media_type}}</td>

            <td>
                <a href="/admin/tv/broadcast/{{broadcast.id}}/change/" target="popup"
                    onclick="window.open('/admin/tv/broadcast/{{broadcast.id}}/change/?_to_field=id&_popup=1','popup','width=600,height=600'); return false;">ערוך</a>
                <a href="/admin/tv/broadcast/{{broadcast.id}}/delete/" target="popup"
                    onclick="window.open('/admin/tv/broadcast/{{broadcast.id}}/delete/?_to_field=id&_popup=1','popup','width=600,height=600'); return false;">מחק</a>
            </td>
            <td>
                {% for broad_in_tv in broadcast.broadcast_in_tv.all %}
                <span>{{broad_in_tv.tv}}</span>
                {% empty %}
                <span>לא פעיל בשום טלוויזיה</span>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- <a href="/dashboard/publishers/{{publisher.id}}/broadcasts/add">הוסף שידור חדש</a> -->
<style>


.map-container {
    position: relative;
    width: 100%;
    height: 550px;
    max-width: 50vw;
    margin: 0 calc(100% - 50vw - 50px);
    position: absolute;
    top:200px;
}
#map {
  height: 550px;
}

    

</style>

<script type="text/javascript">
    
    function initMap(){
        let originalPolygon = `{{publisher.geojson|safe}}`;
        if (originalPolygon && originalPolygon != "None" && originalPolygon != "{}") {
            originalPolygon = JSON.parse(originalPolygon);
        }else {
            originalPolygon = null;
        }
            
        

        var center = [31.37857870948204, 34.69895372415273];

        // Create the map
        var map = L.map('map').setView(center, 9.25);

        // Set up the OSM layer
        L.tileLayer(
        'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Data © <a href="http://osm.org/copyright">OpenStreetMap</a>',
            // maxZoom: 12,
        }).addTo(map);


        // add the polygon to the map if it exists
        if (originalPolygon) {
            new L.GeoJSON(originalPolygon).addTo(map);
        }

        // add a marker in the given location
        // L.marker(center).addTo(map);

        // Initialise the FeatureGroup to store editable layers
        var editableLayers = new L.FeatureGroup();
        map.addLayer(editableLayers);

        var drawPluginOptions = {
        position: 'topright',
        draw: {
            polygon: {
            // allowIntersection: false, // Restricts shapes to simple polygons
            drawError: {
                color: '#e1e100', // Color the shape will turn when intersects
                message: '<strong>Oh snap!<strong> you can\'t draw that!' // Message that will show when intersect
            },
            shapeOptions: {
                color: '#97009c'
            }
            },
            // disable toolbar item by setting it to false
            polyline: false,
            circle: false, // Turns off this drawing tool
            rectangle: false,
            marker: false,
            },
        edit: {
            featureGroup: editableLayers, //REQUIRED!!
            remove: false
        }
        };

        // Initialise the draw control and pass it the FeatureGroup of editable layers
        var drawControl = new L.Control.Draw(drawPluginOptions);
        map.addControl(drawControl);

        var editableLayers = new L.FeatureGroup();
        map.addLayer(editableLayers);

        map.on('draw:created', function(e) {
        var type = e.layerType,
            layer = e.layer;

        if (type === 'polygon') {
            // Do marker specific actions
            let val = JSON.stringify(layer.toGeoJSON())
            console.log(val);
            // create a hidden input with the geojson
            document.getElementById('hidden-maps-inputs').value=val;
        }
        // remove the previous layer
        editableLayers.clearLayers();

        editableLayers.addLayer(layer);
        });
    }
    
    function initAutoComplete() {
        selectBoxTest = new vanillaSelectBox("#publishersTypeSelect", {
            "maxHeight": 200,
            "search": true,
            "size": 5,
            "translations": {
                "all": "הכל",
                "items": "פרטים",
                "selectAll": "בחר הכל",
                "clearAll": "נקה הכל",
                "placeHolder": "סוגי עסק"
            }
        });
    }

    initMap();
    initAutoComplete();
</script>
{% endblock %}