{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}
<h2>טלוויזיות</h2>
<!-- <ul>
        {% for tv in all_tvs %}
            <li><a href="/dashboard/tvs/{{tv.id}}">{{tv.name}}</a></li>
        {% endfor %}
    </ul> -->
<table>
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                שם
            </th>
            <th>
                כתובת
            </th>
            <th>
                לוגו
            </th>
            <th>
                שידורים פעילים / הכל
            </th>
            <th>
                שעות פעילות
            </th>
            <th>
                סוגי עסק
            </th>
            <th>
                לפי השעות פתיחה
            </th>
            <th>
                PI
            </th>
        </tr>
    </thead>
    <tbody>
        {% for tv in all_tvs %}
        <tr>
            <td>
                {{forloop.counter}}
            </td>
            <td>
                <a href="/dashboard/tvs/{{tv.id}}">{{tv.name}}</a>
            </td>
            <td>
                {{tv.address}}
            </td>
            <td>
                {%if tv.logo %}
                <img src="{{tv.logo.url}}" alt="logo" width="100" height="100" loading="lazy">
                {%else%}
                <img src="{% static 'imgs/no_image.png' %}" alt="logo" width="100" height="100" loading="lazy">
                {%endif%}
            </td>
            <td>
                {{tv.get_active_broadcast_to_total_str}}
            </td>
            <td>
                {{tv.opening_hours.all|join:"<br>"|safe}}
            </td>
            <td>
                {{tv.buisness_types.all|join:"<br>"|safe}}
            </td>
            <td>
                {% if tv.is_opening_hours_active %}
                <img src="{% static 'admin/img/icon-yes.svg' %}" alt="yes" width="10" height="10">
                פתוח
                {% else %}
                <img src="{% static 'admin/img/icon-no.svg' %}" alt="no" width="10" height="10">
                סגור
                {% endif %}
            </td>
            <td>
                {% if tv.pi %}
                    פיי: 
                        {% if tv.pi.is_socket_connected_live %}
                            <img src="{% static 'admin/img/icon-yes.svg' %}" alt="yes" width="10" height="10">
                            מחובר
                        {% else %}
                            <img src="{% static 'admin/img/icon-no.svg' %}" alt="no" width="10" height="10">
                            לא מחובר
                        {% endif %}
                    <br>
                    טלוויזיה:
                    {% if tv.pi.cec_hdmi_status == 'on' %}
                        <img src="{% static 'admin/img/icon-yes.svg' %}" alt="yes" width="10" height="10">
                        פועלת
                    {% else %}
                        <img src="{% static 'admin/img/icon-no.svg' %}" alt="no" width="10" height="10">
                        {{tv.pi.cec_hdmi_status}}
                    {% endif %}
                    <br>
                    עדכן אחרון ב: {{tv.pi.socket_status_updated}}
                    <br>
                    לפני: {{tv.pi.humanize_socket_status_updated_ago}}
                    <br>
                    <a href="/admin/pi/pidevice/?device_id={{tv.pi.device_id}}" target="popup"
                        onclick="window.open('/admin/pi/pidevice/?device_id={{tv.pi.device_id}}','popup','width=600,height=600'); return false;">לאדמין
                        הפיי</a>
                        <br>
                        {% if tv.pi.remote_last_image %}
                            <img src="{{tv.pi.remote_last_image.url}}" alt="remote" width="100" height="100" loading="lazy"
                        {%endif%}
                    <br>
                    {%if tv.pi.humanize_image_updated_ago%}
                        תמונה עודכנה לפני: {{tv.pi.humanize_image_updated_ago}}
                        <br>
                    {%endif%}
                {% else %}
                    Pi לא מוגדר
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include "dashboard/components/new_tv.html" %}


<style>
    table thead th {
        word-break: break-all;
        padding: 5px;
        text-align: center;
    }
</style>
{% endblock %}