{% extends "dashboard/base.html" %}
{% load static %}

{% load l10n %}
{% block headcontent %}
<link rel="stylesheet" href="{% static 'libs/vanillaSelectBox.css' %}" type="text/css" media="all">
<script src="{% static 'libs/vanillaSelectBox.js' %}"></script>
<script src="https://cdn.jsdelivr.net/timepicker.js/latest/timepicker.min.js"></script>
<link href="https://cdn.jsdelivr.net/timepicker.js/latest/timepicker.min.css" rel="stylesheet"/>
{% endblock %}

{% block content %}

<h2>טלוויזיה: {{tv.name}}</h2>
<h4>
    <a href="/admin/tv/tv/{{tv.id}}/change/" target="_blank">עריכה באדמין</a>
</h4>

<form action="/dashboard/tvs/{{tv.id}}/edit/" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
            <h3>שעות פתיחה</h3>
              <!-- <input type="text" id="time" placeholder="Time"> -->


            <div id="openingHours">
                {% for opening_hour in tv.opening_hours.all %}
                <input type="hidden" name="opening_hour_id[]" value="{{opening_hour.id}}">
                <label for="day_{{opening_hour.id}}">ביום</label>
                <select name="day_{{opening_hour.id}}" id="day_{{opening_hour.id}}" required>
                    <option value="1" {% if opening_hour.weekday == 1 %}selected{% endif %}>ראשון</option>
                    <option value="2" {% if opening_hour.weekday == 2 %}selected{% endif %}>שני</option>
                    <option value="3" {% if opening_hour.weekday == 3 %}selected{% endif %}>שלישי</option>
                    <option value="4" {% if opening_hour.weekday == 4 %}selected{% endif %}>רביעי</option>
                    <option value="5" {% if opening_hour.weekday == 5 %}selected{% endif %}>חמישי</option>
                    <option value="6" {% if opening_hour.weekday == 6 %}selected{% endif %}>שישי</option>
                    <option value="7" {% if opening_hour.weekday == 7 %}selected{% endif %}>שבת</option>
                </select>
                <label for="opening_hour_{{opening_hour.id}}">משעה: </label>
                <input type="text" class="hour-input" name="opening_hour_{{opening_hour.id}}" id="opening_hour_{{opening_hour.id}}"
                    value="{{opening_hour.from_hour|time:'G:i'}}" required>
                <label for="closing_hour_{{opening_hour.id}}"> עד: </label>
                <input type="text" class="hour-input" name="closing_hour_{{opening_hour.id}}" id="closing_hour_{{opening_hour.id}}"
                    value="{{opening_hour.to_hour|time:'G:i'}}" required>
                <input type="checkbox" name="delete_opening_hour_{{opening_hour.id}}"
                    id="delete_opening_hour_{{opening_hour.id}}"
                 value="false">מחק
                <!-- copy button -->
                <button type="button" onclick="copyOpeningHour({{opening_hour.id}})">
                    {% include 'assets/icons/copy.svg' with svg_height="15px" svg_width="15px" %}
                    העתק
                </button>
                <br>
                {% endfor %}
            </div>
            <button type="button" onclick="addOpeningHour()">הוסף שעת פתיחה</button>
        </div>
    <div class="form-info">
        <div>
            <label for="name">שם העסק
            </label>
            <input class="input-field" type="text" name="name" id="name" value="{{tv.name}}" required>
        </div>
        <div>
            <label for="address">כתובת
            </label>
            <input class="input-field" type="text" name="address" id="address" value="{{tv.address}}">
            <!-- TODO: use google maps api -->
        </div>
        <div>
            <label for="businesType">סוגי העסק
            </label>
            <!-- multiselect searchable input  -->
            <select name="businessType" id="businessTypeSelect" multiple>
                {% for business_type in business_types %}
                <option value="{{business_type.id}}" {% if business_type in tv.buisness_types.all %}selected{% endif %}>
                    {{business_type.name}}</option>
                {% endfor %}
            </select>
            <a href="/admin/tv/businesstype/add/" target="popup"
                onclick="window.open('/admin/tv/businesstype/add/','popup','width=600,height=600'); return false;">
                הוספת סוג עסק חדש
            </a>
        </div>
        <div>
            <label for="logo">לוגו העסק
            </label>
            {% if tv.logo %}
                <img src="{{tv.logo.url}}" alt="logo" width="100px" height="100px">
            {% endif %}
            <input class="input-field" type="file" name="logo" id="logo" accept="image/*">
            
        </div>
        <div>
            <!-- phone -->
            <br>
            <label for="phone">טלפון
            </label>
            <input class="input-field" type="tel" name="phone" id="phone" value="{{tv.phone}}" required>
        </div>
        <div>
            <!-- email -->
            <label for="email">אימייל
            </label>
            <input class="input-field" type="email" name="email" id="email" value="{{tv.email}}" required>
        </div>
        <div>
            <!-- contact_name -->
            <label for="contact_name">שם איש קשר
            </label>
            <input class="input-field" type="text" name="contact_name" id="contact_name" value="{{tv.contact_name}}" required>
        </div>
        <div>
            <!-- contact_phone -->
            <label for="contact_phone">טלפון איש קשר
            </label>
            <input class="input-field" type="tel" name="contact_phone" id="contact_phone" value="{{tv.contact_phone}}" required>
            <br>
        </div>
        <div>
            <!-- not_to_show_list -->
            <label for="not_to_show_list" class="not_to_show_list_label">מה לא להציג
            </label>
            <textarea name="not_to_show_list" id="not_to_show_list" cols="60" rows="5"></textarea>
            <br>
            <ul class="ul_list">
                {% for not_to_show in tv.not_to_show_list.all %}
                <li>
                    <div class="li_item not_to_show">
                        <!-- the created times as hebrew format and the name -->
                        <span class="date">
                        {{not_to_show.created|date:"d/m/Y H:i"}}
                        </span>
                        <span class="content">
                         {{not_to_show.content| linebreaksbr }}
                         </span>
                    </div>

                </li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <!-- yes_to_show_list -->
            <label for="yes_to_show_list"
            class="yes_to_show_list_label">מה להציג
            </label>
            <!-- <input class="input-field" type="text" name="yes_to_show_list" id="yes_to_show_list" value=""> -->
            <textarea name="yes_to_show_list" id="yes_to_show_list" cols="60" rows="5"></textarea>
            <br>
            <ul class="ul_list">
                {% for yes_to_show in tv.yes_to_show_list.all %}
                <li>
                    <div class="li_item yes_to_show">
                        <!-- the created times as hebrew format and the name -->
                        <span class="date">
                        {{yes_to_show.created|date:"d/m/Y H:i"}}
                        </span>
                        <span class="content">
                         {{yes_to_show.content| linebreaksbr }}
                         </span>

                    </div>

                </li>
                {% endfor %}
            </ul>
        </div>
        
    </div>



    <!-- broadcasts -->
    <h3>שידורים</h3>
    <div id="broadcasts">
        <!--
                broadcast fields:  
                    broadcast__name
                    broadcast__media
                    broadcast__media_type
                    duration
                    order
                    active
            -->
        <table>
            <thead>
                <th>
                    #
                </th>
                <th>
                    שם השידור
                </th>
                <th>
                    מדיה
                </th>
                <th>
                    מפרסם
                </th>
                <th>
                    משך
                </th>
                <th>
                    פעיל
                </th>
                <th>
                    כמות שידורים שנישארו
                </th>
                <th>
                    פעולות
                </th>
                <th>
                    סדר
                </th>
            </thead>

            <tbody>
                {% for broadcast in broadcasts %}
                <tr>
                    <td>
                        <input type="hidden" name="existing_broadcasts_ids[]" value="{{broadcast.id}}">
                        <input type="hidden" name="existing_broadcasts_in_tvs_ids[]"
                            value="{{broadcast.broadcast_in_tv.first.id}}">
                        {{forloop.counter}}
                    </td>
                    <td>
                        {{broadcast.name|truncatechars:20}}
                    </td>
                    <td>
                        {% if broadcast.media_type == 'image' %}
                        <div class="imageWrapper">
                            <img src="{{broadcast.media.url}}" alt="{{broadcast.name}}">
                        </div>
                        תמונה
                        {% else %}
                        <div class="videoWrapper">
                            <video muted autoplay loop>
                                <source src="{{broadcast.media.url}}" type="video/mp4">
                            </video>
                        </div>
                        סרטון
                        {% endif %}


                    </td>
                    <td>
                        {{broadcast.publisher.first.name}}
                    </td>
                    <td>
                        <!-- {{broadcast.broadcast_in_tv.first.duration}} -->
                        <input type="number" name="broadcast_{{broadcast.id}}_duration"
                            value="{{broadcast.broadcast_in_tv.first.duration}}">
                    </td>
                    <td>
                        <input type="checkbox" name="broadcast_{{broadcast.id}}_active"
                            {% if broadcast.broadcast_in_tv.first.active %}checked{% endif %}>
                        <!-- {% if broadcast.broadcast_in_tv.first.active %}
                                    כן
                                {% else %}
                                    לא
                                {% endif %} -->
                    </td>
                    <td>
                        {{broadcast.broadcast_in_tv.first.plays_left}}
                    </td>
                    <td>
                        <a href="/admin/tv/broadcastintv/{{broadcast.broadcast_in_tv.first.id}}/delete/" target="popup"
                            onclick="window.open('/admin/tv/broadcastintv/{{broadcast.broadcast_in_tv.first.id}}/delete/','popup','width=600,height=600'); return false;">מחק</a>
                        <a href="/admin/tv/broadcastintv/{{broadcast.broadcast_in_tv.first.id}}/change/" target="popup"
                            onclick="window.open('/admin/tv/broadcastintv/{{broadcast.broadcast_in_tv.first.id}}/change/','popup','width=600,height=600'); return false;">ערוך</a>
                        <button type="button" onclick="changeLeftPlays({{broadcast.broadcast_in_tv.first.id}})">
                            שנה כמות שידורים שנישארו
                        </button>
                    </td>
                    <td>
                        <input type="number" name="broadcast_{{broadcast.id}}_order"
                            value="{{broadcast.broadcast_in_tv.first.order}}">
                    </td>
                </tr>
                {% endfor %}
        </table>
    </div>
    <div class="submit-button-wraper">
        <input type="submit" value="שמור" class="submit-button">
    </div>
    <h3>הוספת שידור</h3>
    <!-- 
            autocomplete select for the publishers
            based on the selected publishers, the broadcasts will be shown down and the user will be able to select the broadcast he wants to add to the tv
        -->
    <label for="publisher">מפרסם</label>
    <select name="publisher" id="publisher" onchange="getBroadcasts()">
        <option value="">בחר מפרסם</option>
        {% for publisher in publishers %}
        <option value="{{publisher.id}}">{{publisher.name}}</option>
        {% endfor %}
    </select>
    <label for="broadcast_select">בחר שידור</label>
    <div id="broadcast_select">
    </div>



</form>

<!-- ========================================================================================= -->
<!-- =========================================== SCRIPTS ===================================== -->
<!-- ========================================================================================= -->


<script type="text/javascript">

    function copyOpeningHour(opening_hour_id) {
        // create a new opening hour with the same data as the selected opening hour
        var openingHours = document.querySelector('#openingHours');
        let info = get_opening_hour_info_from_html(opening_hour_id);
        addOpeningHour(info);
    }

    function get_opening_hour_info_from_html(opening_hour_id) {
        // day_
        // opening_hour_
        // closing_hour_
        // delete_opening_hour_
        let day = document.querySelector('#day_' + opening_hour_id).value;
        let start_hour = document.querySelector('#opening_hour_' + opening_hour_id).value;
        let end_hour = document.querySelector('#closing_hour_' + opening_hour_id).value;
        let del = document.querySelector('#delete_opening_hour_' + opening_hour_id).checked;
        return {
            day: day,
            start_hour: start_hour,
            end_hour: end_hour,
            del: del
        }
    }

    function changeLeftPlays(broadcast_in_tv_id) {
        let plays_count = prompt("הכנס מספר הצגות להוספה (יכול להיות מינוס להורדה)", "0");
        if (plays_count == null || plays_count == "") {
            return;
        }
        let xhr = new XMLHttpRequest();
        xhr.open('POST', '/dashboard/tvs/{{tv.id}}/change_left_plays/', true);
        xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onload = function () {
            if (this.status == 200) {
                location.reload();
            }
        };
        xhr.send('broadcast_in_tv_id=' + broadcast_in_tv_id + '&plays_count=' + plays_count);
    }

    function addBroadcast(broadcast_id) {
        let plays_count = prompt("הכנס מספר הצגות", "1000");
        if (plays_count == null || plays_count == "") {
            return;
        }
        let xhr = new XMLHttpRequest();
        xhr.open('POST', '/dashboard/tvs/{{tv.id}}/add_broadcast/', true);
        xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onload = function () {
            if (this.status == 200) {
                location.reload();
            }
        };
        xhr.send('broadcast_id=' + broadcast_id + '&plays_count=' + plays_count);
    }

    function addOpeningHour(info=undefined) {
        var openingHours = document.querySelector('#openingHours');
        var openingHour = document.createElement('label');
        openingHour.setAttribute('for', 'new_day[]');
        openingHour.innerHTML = 'ביום ';
        openingHours.appendChild(openingHour);

        var openingHourSelect = document.createElement('select');
        openingHourSelect.setAttribute('name', 'new_day[]');
        openingHourSelect.setAttribute('id', 'day_' + (openingHours.childElementCount + 1));
        

        openingHours.appendChild(openingHourSelect);

        var openingHourOption1 = document.createElement('option');
        openingHourOption1.setAttribute('value', '1');
        openingHourOption1.innerHTML = 'ראשון';
        openingHourSelect.appendChild(openingHourOption1);

        var openingHourOption2 = document.createElement('option');
        openingHourOption2.setAttribute('value', '2');
        openingHourOption2.innerHTML = 'שני';
        openingHourSelect.appendChild(openingHourOption2);

        var openingHourOption3 = document.createElement('option');
        openingHourOption3.setAttribute('value', '3');
        openingHourOption3.innerHTML = 'שלישי';
        openingHourSelect.appendChild(openingHourOption3);

        var openingHourOption4 = document.createElement('option');
        openingHourOption4.setAttribute('value', '4');
        openingHourOption4.innerHTML = 'רביעי';
        openingHourSelect.appendChild(openingHourOption4);

        var openingHourOption5 = document.createElement('option');
        openingHourOption5.setAttribute('value', '5');
        openingHourOption5.innerHTML = 'חמישי';
        openingHourSelect.appendChild(openingHourOption5);

        var openingHourOption6 = document.createElement('option');
        openingHourOption6.setAttribute('value', '6');
        openingHourOption6.innerHTML = 'שישי';
        openingHourSelect.appendChild(openingHourOption6);

        var openingHourOption7 = document.createElement('option');
        openingHourOption7.setAttribute('value', '7');
        openingHourOption7.innerHTML = 'שבת';
        openingHourSelect.appendChild(openingHourOption7);
        if (info && info.day) {
            openingHourSelect.setAttribute('value', info.day.toString());
        }


        var openingHourLabel = document.createElement('label');
        openingHourLabel.setAttribute('for', 'new_opening_hour[]');
        openingHourLabel.innerHTML = ' משעה: '
        openingHours.appendChild(openingHourLabel);

        var openingHourInput = document.createElement('input');
        openingHourInput.setAttribute('type', 'text');
        openingHourInput.setAttribute('name', 'new_opening_hour[]');
        openingHourInput.setAttribute('id', 'opening_hour_' + (openingHours.childElementCount + 1));

        if (info && info.start_hour) {
            openingHourInput.setAttribute('value', info.start_hour);
        }

        openingHours.appendChild(openingHourInput);

        var closingHourLabel = document.createElement('label');
        closingHourLabel.setAttribute('for', 'new_opening_hour');
        closingHourLabel.innerHTML = ' עד: ';
        openingHours.appendChild(closingHourLabel);

        var closingHourInput = document.createElement('input');
        closingHourInput.setAttribute('type', 'text');
        closingHourInput.setAttribute('name', 'new_closing_hour[]');
        closingHourInput.setAttribute('id', 'closing_hour_' + (openingHours.childElementCount + 1));

        if (info && info.end_hour) {
            closingHourInput.setAttribute('value', info.end_hour);
        }
        

        openingHours.appendChild(closingHourInput);
        

        let deleteOpeningHourInput = document.createElement('input');
        deleteOpeningHourInput.setAttribute('type', 'checkbox');
        deleteOpeningHourInput.setAttribute('name', 'delete_opening_hour_' + info.id);
        deleteOpeningHourInput.setAttribute('id', 'delete_opening_hour_' + info.id);
        deleteOpeningHourInput.setAttribute('value', 'false');
        openingHours.appendChild(deleteOpeningHourInput);
        
        let deleteOpeningHourLabel = document.createElement('label');
        deleteOpeningHourLabel.setAttribute('for', 'delete_opening_hour_' + info.id);
        deleteOpeningHourLabel.innerHTML = 'מחק';
        openingHours.appendChild(deleteOpeningHourLabel);
        

        var br = document.createElement('br');
        openingHours.appendChild(br);
    }

    function getBroadcasts() {
        var xhr = new XMLHttpRequest();
        let publisherId = document.querySelector('#publisher').value;
        if (publisherId == '') {
            publisherId = 'all';
        }
        xhr.open('GET', '/dashboard/publishers/' + publisherId + '/broadcasts/', true);
        xhr.onload = function () {
            if (this.status == 200) {
                var broadcasts = JSON.parse(this.responseText);
                var broadcastsSelect = document.querySelector('#broadcast_select');
                broadcastsSelect.innerHTML = '';
                let existing_broadcasts_ids = [];
                let ids_inputs = document.getElementsByName('existing_broadcasts_ids[]');
                for (var i = 0; i < ids_inputs.length; i++) {
                    existing_broadcasts_ids.push(ids_inputs[i].value);
                }
                for (var i = 0; i < broadcasts.length; i++) {
                    if (existing_broadcasts_ids.includes(broadcasts[i].id.toString())) {
                        continue;
                    }
                    let card = `<div class="broadcast-card"><h3>${broadcasts[i].name}</h3>`
                    if (broadcasts[i].media_type == 'video') {
                        card +=
                            `<div class="videoWrapper"><video src="${broadcasts[i].media}" muted loop autoplay></video></div>`
                    } else {
                        card += `<div class="imageWrapper"><img src="${broadcasts[i].media}" /></div>`
                    }
                    // add publisher name and id if exists
                    if (broadcasts[i].publisher && broadcasts[i].publisher.length > 0) {
                        let publisher = broadcasts[i].publisher[0];
                        card += `<p>מפרסם:
                            <a href="/dashboard/publishers/${publisher.id}/"
                             target="popup"
                            onclick="window.open('/dashboard/publishers/${publisher.id}/','popup','width=850,height=850'); return false;"
                            >
                             ${publisher.name}
                            </a>
                             </p>`
                    }
                    card +=
                        `<button type="button" onclick="addBroadcast(${broadcasts[i].id})">הוסף לטלוויזיה</button></div>`
                    broadcastsSelect.innerHTML += card;
                }
            }
        }
        xhr.send();
    }



    function docInit() {
        selectBoxTest = new vanillaSelectBox("#businessTypeSelect", {
            "maxHeight": 200,
            "search": true,
            "size": 5,
            "translations": {
                "all": "הכל",
                "items": "פרטים",
                "selectAll": "בחר הכל",
                "clearAll": "נקה הכל",
                "placeHolder": "סוגי עסק"
            }
        });


        getBroadcasts();

        
    }

    function initTimePickers(ids) {
        var timepicker = new TimePicker(ids, {
            lang: 'en',
            theme: 'dark'
        });
        timepicker.on('change', function(evt) {
            var value = (evt.hour || '00') + ':' + (evt.minute || '00');
            evt.element.value = value;
        });
    }

    function initTimePickersFromHtml() {
        let timeInputs = document.querySelectorAll('.hour-input');
        // alert('timeInputs: ' + timeInputs.length);
        let ids = [];
        for(var i = 0; i < timeInputs.length; i++) {
            ids.push(timeInputs[i].getAttribute('id'));
        }
        initTimePickers(ids);
    }

    function domLoaded() {
        console.log('dom loaded');
        initTimePickersFromHtml();
    }


    docInit();
    document.addEventListener("DOMContentLoaded", domLoaded);
</script>

<style>
    form {
        width: 80%;
        margin: auto;
    }
    form .form-info {
        width: auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    form>.form-info> div >label {
        display: block;
        margin-bottom: 5px;
        font-size: larger;
    }

    form>.form-info > div >input.input-field {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    #broadcast_select {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        width: 92%;
        margin: auto;
    }

    .broadcast-card {
        width: 300px;
        height: 300px;
        background: #f3f3f3;
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .broadcast-card:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .broadcast-card h3 {
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 1;
    }

    

    ul.ul_list {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0;
        margin: 0;
        max-width: 450px;
    }

    ul.ul_list li {
        list-style: none;
    }

    .li_item {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 5px;
    }
    
    .li_item .date {
        width: 100%;;
        text-align: start;
        font-size: 0.8em;
        color: #666;
        padding: 5px;
    }

    .li_item .content {
        width: 100%;;
        text-align: start;
        font-size: 1.2em;
        font-weight: bold;
        padding: 5px;
    }

    form>.form-info> div >label.not_to_show_list_label ,
    form>.form-info> div >label.yes_to_show_list_label {
        font-size: 2.2em;
        margin-bottom: 5px;
        text-decoration: underline;
        margin-top: 20px;
    }


    /* floating submit button on the left button side of the screen */
    .submit-button-wraper {
        position: fixed;
        bottom: 40px;
        left: 40px;
        /* width: 100%; */
        /* height: 100px; */
        /* display: flex;
        justify-content: center;
        align-items: center;
        background: #f3f3f3;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    }
    .submit-button {
        width: 200px;
        height: 50px;
        background: #2d77e6;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1.2em;
        font-weight: bold;
        cursor: pointer;
    }
</style>
{% endblock %}