<h2>הוסף שידורים חדש למפרסם: {{publisher.name}}</h2>
<form action="/dashboard/publishers/{{publisher.id}}/broadcasts/add/" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="name">שם השידור</label>
    <input type="text" name="name" id="name">
    <br>
    <label for="media">קובץ/קבצי השידור</label>
    <input type="file" name="media" id="media" required 
    accept="video/mp4,video/x-m4v,video/*,image/*" multiple />
    <br>
    <input type="submit" value="הוסף">
</form>