<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <!-- get the list of this tv from an API on load and every X time -->
    <!-- if there is any change, change it. if not, loop oter the items at the list of the api:
        {
            "broardcasts": [
                {
                    "name": "name of the broadcast",
                    "duration: "duration of the broadcast",
                    "media": "media of the broadcast",
                },...
            ],
            "tv": {
                "id": "id of the tv",
                "name": "name of the tv",
                "updated": "last update of the tv",
                "created": "created date of the tv",
            }
        }
    -->
</body>
</html>