[Unit]
Description=daphne daemon
Requires=daphne.socket
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/advertising-tv-control/server
ExecStart=/home/ubuntu/advertising-tv-control/env/bin/daphne -b 0.0.0.0 -p 8000 server.asgi:application

[Install]
WantedBy=multi-user.target
